@page {
	margin: 0;
	size: A4;
}

*::before,
*,
*::after {
	border-style: solid;
	border-width: 0;
	box-sizing: border-box;
}

html {
	--container-background: rgba(0, 0, 0, 4%);
	--container-gap: 10mm;

	--page-background: rgb(255, 255, 255);
	--page-foreground: rgb(0, 0, 0);
	--page-height: 297mm;
	--page-width: 210mm;
}

body {
	margin: 0;
}

.container {
	display: flex;
}

@media screen {
	.container {
		padding: var(--container-gap);
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--container-gap);
		background-color: var(--container-background);
	}
}

.page {
	height: var(--page-height);
	width: var(--page-width);
	background-color: var(--page-background);
	color: var(--page-foreground);
}

.header {
	padding: 10mm;
	display: flex;
	flex-direction: column;
	background-color: black;
	color: white;
}

.header > * {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	height: 20mm;
	width: 20mm;
}

.a {
	display: flex;
	flex-direction: column;
}
