@import url("./styles/fonts.css");
@import url("./styles/resets.css");
@import url("./styles/variables.css");

/* Document */

html {
	font-family: "Mona Sans", sans-serif;
	font-weight: 400;
	line-height: 1.5;
}

@media not print {
	html {
		background-color: var(--container-background);
	}
}

/* Page */

@page {
	size: a4;
}

.page {
	width: var(--page-width);
	height: var(--page-height);
	color: var(--page-foreground);
	background-color: var(--page-background);
}

/* Header */

.header {
	display: flex;
	flex-direction: column;
	gap: 4mm;
	padding: 8mm;
	color: white;
	background-color: black;
}

.header .row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	width: 20mm;
	height: 20mm;
}

.a {
	display: flex;
	flex-direction: column;
}
