@import url("./styles/fonts.css");
@import url("./styles/resets.css");
@import url("./styles/variables.css");

@page {
	size: a4;
}

html {
	font-family: "Mona Sans", sans-serif;
	font-weight: 400;
	line-height: 1.5;
}

.page {
	width: var(--page-width);
	height: var(--page-height);
	color: var(--page-foreground);
	background-color: var(--page-background);
}

.header {
	display: flex;
	flex-direction: column;
	padding: 10mm;
	color: white;
	background-color: black;
}

.header > * {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	width: 20mm;
	height: 20mm;
}

.a {
	display: flex;
	flex-direction: column;
}

@media not print {
	html {
		background-color: var(--container-background);
	}

	.container {
		display: flex;
		flex-flow: row wrap;
		gap: var(--container-gap);
		padding: var(--container-gap);
	}
}

@media print {
	.container {
		display: flex;
		flex-direction: column;
	}
}
